extends inicio 

block login-error
    div.container.mt-3
        div.jumbotron
            div.row
                div.col-md-6.offset-md-3
                    h1.text-center(style="color:blue;")!="USER ERROR LOGIN"
                    button.btn.btn-warning.mt-3.mb-5(onclick="location.href = '/'", name="registro") VOLVER